body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.coin-info-row {
  display: grid;
  font-size: small;
  grid-template-columns: 16.67% 16.67% 16.67% 16.67% 16.67% 16.67% 
}

.bold {
  font-weight: bold;
}

.test {
  display: none;
}